// Order book
.order-book {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

// Heading
.heading {
  display: flex;
}

.heading-item {
  flex: 1;
  padding: 6px;

  span:first-child {
    margin-right: 5px;
  }
}

.heading-item:not(:first-child) {
  text-align: right;
}

// Bids/Asks
.bids,
.asks {
  margin-bottom: 10px;
}

.bids-row,
.asks-row {
  display: flex;

  span {
    flex: 1;
    padding: 1px 6px;
    border-radius: 4px;
  }

  span:not(:first-child) {
    text-align: right;
  }
}

.bids-row:first-child {
  span:first-child {
    background: rgba(var(--bs-success-rgb), 0.2);
  }
}

.asks-row:last-child {
  span:first-child {
    background: rgba(var(--bs-danger-rgb), 0.2);
  }
}

.percentage-bar {
  position: relative;
}

.percentage-bar:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: var(--width-after);
  transition: all 0.1s linear;
}

.bids-bar:after {
  background-color: rgba(var(--bs-success-rgb), 0.2);
}

.asks-bar:after {
  background-color: rgba(var(--bs-danger-rgb), 0.2);
}
